
<div class="container" th:fragment="subCorpo">
    
    
<!--    TODO fazer validações de entrada (tamanho de campo e formato de entradas nos forms)
-->    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a style="color: #3c7982;"><strong th:text="${structureT4.id == null} ? #{title.save.structureT4} : #{title.update.structureT4}"></strong></a> </li> 
    </ol>
    <div>
    	<form th:action="${structureT4.id == null} ? @{/structureControl/savestructureT4} : @{/structureControl/updateStructureT4}"  th:object="${structureT4}" method="post" th:accept-charset="ISO-8859-1">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{structureType}"/>
            <input type="hidden" th:field="*{mu_owner.id}" value="${militaryUnit.id}"/>
            <div class="row">
                <div class="col">    
                    <label th:for="name">Nome: </label>
                    <input required th:type="text" class="form-control" id="name" th:field="*{name}"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="label label-danger"></span>
                </div>
                
            
                <div class="col-3">    
                    <label th:for="locationPoint.latitude">Latitude:</label>
                    <input th:type="number" class="form-control" id="latitude" th:field="*{locationPoint.latitude}"/>
                    <span th:if="${#fields.hasErrors('locationPoint.latitude')}" th:errors="*{locationPoint.latitude}" class="label label-danger"></span>
                </div>
                <div class="col-3">    
                    <label th:for="locationPoint.longitude">Longitude:</label>
                    <input th:type="number" class="form-control" id="latitude" th:field="*{locationPoint.longitude}"/>
                    <span th:if="${#fields.hasErrors('locationPoint.longitude')}" th:errors="*{locationPoint.longitude}" class="label label-danger"></span>
                </div>
                
            </div>     
            <div class="row">    
                <div class="col">    
                    <label th:for="str_function">Função/Objetivo: </label>
                    <input required th:type="text" class="form-control" id="str_function" th:field="*{str_function}"/>
                    <span th:if="${#fields.hasErrors('str_function')}" th:errors="*{str_function}" class="label label-danger"></span>
                </div>
            </div>
             <div class="row">
               
                <div class="col">    
                    <label th:for="description">Descrição:</label>
                    <textarea th:type="text" class="form-control" id="description" th:field="*{description}"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="label label-danger"></span>
                </div>
                
             </div> <br>
                
          
            
            <div class="row">
               
                <div class="col">    
                    <label th:for="extra_observation">Observações adicionais:</label>
                    <textarea  th:type="text" class="form-control" id="extra_observation" th:field="*{extra_observation}"></textarea>
                    <span th:if="${#fields.hasErrors('extra_observation')}" th:errors="*{extra_observation}" class="label label-danger"></span>
                </div>
                
            </div> 
            
     <br> <hr>    
             <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Confirmar</button>
             </div>        
        </form>
    </div> 
</div>
