<div class="container" th:fragment="subCorpo">
    
    
<!--    TODO fazer validações de entrada (tamanho de campo e formato de entradas nos forms)
-->    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a style="color: #3c7982;"><strong th:text="${supplyItemCVI1.id == null} ? #{title.save.supplyItemCVI1} : #{title.update.supplyItemCVI1}"></strong></a> </li> 
    </ol>
    <div>
    	<form th:action="${supplyItemCVI1.id == null} ? @{/supplyControl/saveSupplyCVI1} : @{/supplyControl/updateSupplyCVI1}"  th:object="${supplyItemCVI1}" method="post" th:accept-charset="ISO-8859-1">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{mu_owner.id}" value="${militaryUnit.id}"/>
            <input type="hidden" th:field="*{supply_class}" value="Classe VI.1 -"/>
            <div class="row">
                <div class="col">    
                    <label th:for="description">Tipo:</label>
                    <input th:type="text" class="form-control" id="description" th:field="*{description}"/>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="label label-danger"></span>
                </div>
                <div class="col">    
                    <label th:for="manufacturer">Fabricante: </label>
                    <input required th:type="text" class="form-control" id="manufacturer" th:field="*{manufacturer}"/>
                    <span th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}" class="label label-danger"></span>
                </div>
              <div class="col-3">    
                    <label th:for="year_of_manufacture">Ano de fabricação: </label>
                     <input type="number" class="form-control" id="year_of_manufacture" th:field="*{year_of_manufacture}"/>
                    <span th:if="${#fields.hasErrors('year_of_manufacture')}" th:errors="*{year_of_manufacture}" class="label label-danger"></span>             
               </div>
                <div class="col">    
                    <label th:for="name">Modelo: </label>
                    <input required th:type="text" class="form-control" id="name" th:field="*{name}"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="label label-danger"></span>
                </div>
             </div> <br>
             
             
             <div class="row">
                 <div class="col">
                    <div class="form-group">
                        <label th:for="status">Tipo de combustível: </label>
                            <select th:field="*{fuel}" id="fuel" class="custom-select">
                                <option value=""></option>
                                <option th:each="fuel : ${CIXfuel}" th:value="${fuel}" th:text="${fuel.description}"></option>
                            </select>                
                    </div>        
                 </div> 
                 <div class="col-3">
                    <div class="form-group">
                        <label th:for="power">Potência útil (KVA): </label>
                        <input th:type="float" class="form-control" id="capacity" th:field="*{power}"/>
                        <span th:if="${#fields.hasErrors('power')}" th:errors="*{power}" class="label label-danger"></span>                              
                    </div>        
                </div> 
                <div class="col">    
                    <label th:for="amount">Quantidade:</label>
                    <input th:type="number" class="form-control" id="amount" th:field="*{amount}"/>
                    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="label label-danger"></span>
                </div>
             </div> 
             
            
                
               
                
<!--            </div>     

            <div class="row">-->
                

              
                
          
            <div class="row">
                <div class="col">    
                    <label th:for="situation">Situação:</label>
                    <textarea  th:type="text" class="form-control" id="situation" th:field="*{situation}"></textarea>
                    <span th:if="${#fields.hasErrors('situation')}" th:errors="*{situation}" class="label label-danger"></span>
                </div>
                
            </div>
            <div class="row">
                <div class="col">    
                    <label th:for="reason">Motivo:</label>
                    <textarea  th:type="text" class="form-control" id="reason" th:field="*{reason}"></textarea>
                    <span th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}" class="label label-danger"></span>
                </div>
                
            </div>
            <div class="row">
                <div class="col">    
                    <label th:for="response_action">Providência:</label>
                    <textarea  th:type="text" class="form-control" id="response_action" th:field="*{response_action}"></textarea>
                    <span th:if="${#fields.hasErrors('response_action')}" th:errors="*{response_action}" class="label label-danger"></span>
                </div>
                
            </div>
            <div class="row">
                <div class="col">    
                    <label th:for="extra_observation">Observações adicionais:</label>
                    <textarea  th:type="text" class="form-control" id="extra_observation" th:field="*{extra_observation}"></textarea>
                    <span th:if="${#fields.hasErrors('extra_observation')}" th:errors="*{extra_observation}" class="label label-danger"></span>
                </div>
                
            </div> 
            
     <br> <hr>    
             <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Confirmar</button>
             </div>        
        </form>
    </div> 
</div>
