<div class="container" th:fragment="subCorpo">
    
    
<!--    TODO fazer validações de entrada (tamanho de campo e formato de entradas nos forms)
-->    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a style="color: #3c7982;"><strong th:text="${supplyItemCV1.id == null} ? #{title.save.supplyItemCV1} : #{title.update.supplyItemCV1}"></strong></a> </li> 
    </ol>
    <div>
    	<form th:action="${supplyItemCV1.id == null} ? @{/supplyControl/saveSupplyCV1} : @{/supplyControl/updateSupplyCV1}"  th:object="${supplyItemCV1}" method="post" th:accept-charset="ISO-8859-1">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{mu_owner.id}" value="${militaryUnit.id}"/>
            <input type="hidden" th:field="*{supply_class}" value="Classe V.1 -"/>
            <div class="row">
                <div class="col">    
                    <label th:for="name">Modelo: </label>
                    <input required th:type="text" class="form-control" id="name" th:field="*{name}"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="label label-danger"></span>
                </div>
            </div>
             <div class="row">
               
                <div class="col">    
                    <label th:for="description">Tipo:</label>
                    <input th:type="text" class="form-control" id="description" th:field="*{description}"/>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="label label-danger"></span>
                </div>
                <div class="col">    
                    <label th:for="manufacturer">Fabricante: </label>
                    <input required th:type="text" class="form-control" id="manufacturer" th:field="*{manufacturer}"/>
                    <span th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{name}" class="label label-danger"></span>
                </div>
             </div> <br>
            <div class="row">
                <div class="col">    
                    <label th:for="expected_amount">Qtd. Prevista </label>
                    <input th:type="number" step="1.0" min="0" class="form-control" id="expected_amount" th:field="*{expected_amount}"/>
                    <span th:if="${#fields.hasErrors('expected_amount')}" th:errors="*{expected_amount}" class="label label-danger"></span>
                </div>
                <div class="col">    
                    <label th:for="current_amount">Qtd. Existente </label>
                    <input th:type="number" step="1.0" min="0" class="form-control" id="current_amount" th:field="*{current_amount}"/>
                    <span th:if="${#fields.hasErrors('current_amount')}" th:errors="*{current_amount}" class="label label-danger"></span>
                </div>
               
                
<!--            </div>     

            <div class="row">-->
                <div class="col">    
                    <label th:for="up_to">Supre até: </label>
                     <input type="date" class="form-control" id="up_to" th:field="*{up_to}"/>
                    <span th:if="${#fields.hasErrors('up_to')}" th:errors="*{up_to}" class="label label-danger"></span>             
               </div>
                <div class="col">    
                    <label th:for="shelf_life">Validade: </label>
                     <input type="date" class="form-control" id="shelf_life" th:field="*{shelf_life}"/>
                    <span th:if="${#fields.hasErrors('shelf_life')}" th:errors="*{shelf_life}" class="label label-danger"></span>             
               </div>

               <div class="col">
                <div class="form-group">
                     <div class="form-group">
                    <label th:for="armory">Localização (reserva): </label>
                      <select required th:field="*{armory.id}" class="custom-select" id="armory" name="educationDate[]">
                        <option value=""></option>
                        <option th:each="armory : ${currentArmories}" th:value="${armory.id}" th:text="${armory.name}"></option>       
                      </select>
                    </div></div>
              </div>
                
            </div> 
            
            <div class="row">
               
                <div class="col">    
                    <label th:for="extra_observation">Observações adicionais:</label>
                    <textarea  th:type="text" class="form-control" id="extra_observation" th:field="*{extra_observation}"></textarea>
                    <span th:if="${#fields.hasErrors('extra_observation')}" th:errors="*{extra_observation}" class="label label-danger"></span>
                </div>
                
            </div> 
            
     <br> <hr>    
             <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Confirmar</button>
             </div>        
        </form>
    </div> 
</div>
