<div class="container" th:fragment="subCorpo">
    
    
<!--    TODO fazer validações de entrada (tamanho de campo e formato de entradas nos forms)
-->    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a style="color: #3c7982;"><strong th:text="${structureT3.id == null} ? #{title.save.structureT3} : #{title.update.structureT3}"></strong></a> </li> 
    </ol>
    <div>
    	<form th:action="${structureT3.id == null} ? @{/structureControl/savestructureT3} : @{/structureControl/updateStructureT3}"  th:object="${structureT3}" method="post" th:accept-charset="ISO-8859-1">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{structureType}"/>
            <input type="hidden" th:field="*{mu_owner.id}" value="${militaryUnit.id}"/>
            <!--<input type="hidden" th:field="*{}" value="Classe I -"/>-->
            
            <div class="row">
                <div class="col">    
                    <label th:for="name">Nome da reserva: </label>
                    <input required th:type="text" class="form-control" id="name" th:field="*{name}"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="label label-danger"></span>
                </div>
            
               
                <div class="col-3">    
                    <label th:for="locationPoint.latitude">Latitude:</label>
                    <input th:type="number" class="form-control" id="latitude" th:field="*{locationPoint.latitude}"/>
                    <span th:if="${#fields.hasErrors('locationPoint.latitude')}" th:errors="*{locationPoint.latitude}" class="label label-danger"></span>
                </div>
                
                <div class="col-3">    
                    <label th:for="locationPoint.longitude">Longitude:</label>
                    <input th:type="number" class="form-control" id="latitude" th:field="*{locationPoint.longitude}"/>
                    <span th:if="${#fields.hasErrors('locationPoint.longitude')}" th:errors="*{locationPoint.longitude}" class="label label-danger"></span>
                </div>
                
             </div> <br>
            <div class="row">
                <div class="col">    
                    <label th:for="storage_capacity">Capacidade de armazenagem: </label>
                    <textarea th:type="text" class="form-control" id="storage_capacity" th:field="*{storage_capacity}"></textarea>
                    <span th:if="${#fields.hasErrors('storage_capacity')}" th:errors="*{storage_capacity}" class="label label-danger"></span>
                </div>
            </div> <div class="row">
                <div class="col">    
                    <label th:for="storage_weapon_types">Tipos de armamento aceitos: </label>
                    <textarea th:type="text" class="form-control" id="storage_weapon_types" th:field="*{storage_weapon_types}"></textarea>
                    <span th:if="${#fields.hasErrors('storage_weapon_types')}" th:errors="*{storage_weapon_types}" class="label label-danger"></span>
                </div>
             </div> <div class="row">
                <div class="col">    
                    <label th:for="storage_furniture">Mobília (armários, cabides, etc.): </label>
                    <textarea th:type="text" class="form-control" id="storage_furniture" th:field="*{storage_furniture}"></textarea>
                    <span th:if="${#fields.hasErrors('storage_furniture')}" th:errors="*{storage_furniture}" class="label label-danger"></span>
                </div>
                
                
            </div>     

            
            
            <div class="row">
               
                <div class="col">    
                    <label th:for="extra_observation">Observações adicionais:</label>
                    <textarea  th:type="text" class="form-control" id="extra_observation" th:field="*{extra_observation}"></textarea>
                    <span th:if="${#fields.hasErrors('extra_observation')}" th:errors="*{extra_observation}" class="label label-danger"></span>
                </div>
                
            </div> 
            
     <br> <hr>    
             <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Confirmar</button>
             </div>        
        </form>
    </div> 
</div>
