<div class="container" th:fragment="subCorpo">
    
    <div th:if="!${#strings.isEmpty(message)}" class="row">
              
            <div th:class="${#strings.isEmpty(message)} ? 'panel panel-default' : 'panel panel-success'">
        <div class="alert alert-danger">
            <i class="fa fa-info-circle">&nbsp;</i><span th:text="' '+${#strings.isEmpty(message)} ? ' ' : ${message}"> </span>
            </div></div>
            
    </div>  
<!--    TODO fazer validações de entrada (tamanho de campo e formato de entradas nos forms)
-->    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a style="color: #3c7982;"><strong>Efetivo da missão</strong></a> </li> 
    </ol>



    	
        
        <div>    <small><i>(Faça a adição dos militares do efetivo da missão. Caso o militar não tenha sido cadastrado como militar no sistema, realize antes o cadastro no menu "Controle de efetivo".)</i></small><br><br>    
       
        
   
       
             <!-- Button trigger modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Recuperar cadastro</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span> </button> </div>
     
        <hr>
        
        <form name="form2" th:action="@{/operationalActivityControl/addMilitary/{id}(id=${operationalActivity.id})}" method="post" th:object="${military}" class="navbar-form navbar-right">
            
            <div class="modal-body"> 
                
                <div class="form-group">
                    <label th:for="military_identitiy">Identidade Militar: </label>
                    <input type="text" class="form-control" id="military_identitiy" th:field="*{military_identitiy}"/>
                    <span th:if="${#fields.hasErrors('military_identitiy')}" th:errors="*{military_identitiy}" class="label label-danger"></span>             
                </div>  
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Pesquisar</button>
                </div>  
                <small><i><i class="fa fa-info-circle"></i> Para adicionar um militar já cadastrado no pelotão, entre com o número de identidade militar.</i></small>
            </div>  
       </form> 
       
            
      </div>
   </div>
</div>
     </div>  
        
        
   <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal2">Adicionar militar</button>
     
              
<hr>

<div class="card mb-3">
    <div class="card-header"> <i class="fa fa-table"></i> Militares do pelotão <small>(Atenção: militares que são usuários do sistema só podem ter o cadastro excluído no menu Usuários.)</small></div>
          <div class="card-body">
            <div class="table-responsive">
<table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Nome de guerra</th>
                <th>Posto/Graduação</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="military : ${militaryList}">
                  <td th:text="${military.name}"></td>
                  <td th:text="${military.war_name}"></td>
                  <td th:text="${military.post.description}"></td>                                      
                  <td>            
                      <a class="btn btn-danger btn-sm" th:href="@{/operationalActivityControl/removeMilitary/{milId}/{oaId}(milId=${military.id},oaId=${operationalActivity.id})}" >Remover</a>  
                      <a class="btn btn-info btn-sm" th:href="@{/militaryControl/showSingleProfile/{id}(id=${military.id})}">+Info</a>
                  </td>
                </tr>
            </tbody>
        </table>
            </div>
          </div> 
        </div>
</div>