<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container" th:fragment="subCorpo">
<!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a style="color: #3c7982;"><strong>Atividades operacionais</strong></a> </li> 
<!--          <li class="breadcrumb-item active">${usuarioRO.militar.nome } ${usuarioRO.militar.sobrenome }</li>-->
        </ol>
         <div>
                  
            <a class="btn btn-dark btn-sm" th:href="@{/operationalActivityControl/registerOperationalActivity/{id} (id=${militaryUnit.id})}" >Criar nova operação</a>
        </div>
<br>

<div th:if="!${#strings.isEmpty(message)}" class="row">
            <div class="col-4">   
            <div th:class="${#strings.isEmpty(message)} ? 'panel panel-default' : 'panel panel-success'">
        <div class="alert alert-danger">
            <i class="fa fa-info-circle">&nbsp;</i><span th:text="' '+${#strings.isEmpty(message)} ? ' ' : ${message}"> </span>
            </div></div>
            </div>
</div>  
         <hr>
<div class="card mb-3">
<!--    <div class="card-header"> <i class="fa fa-table"></i> Relação de atividades operacionais da unidade
        <form th:action="@{/operationalActivityControl/filterOperationalActivities/{id} (id=${militaryUnit.id})}" th:object="${filterList}"  method="post" >
            
            
            <select th:field="*{option}" class="custom-select"  id="fO" onchange='this.form.submit()'>
              <option th:value="0" selected>Filtrar por</option>
              <option th:value="1">Ordem alfabética</option>
              <option th:value="2">Mais recentes primeiro</option>
              <option th:value="3">Menos recentes primeiro</option>
              <option th:value="4">Em planejamento</option>
              <option th:value="5">Em curso </option>
              <option th:value="6">Realizada</option>
            </select>     
            <input type="hidden" th:field="*{option}" th:value="1"/>       
            <noscript><input type="submit" value="Submit"></noscript>
        </form>  
    </div>-->
          <div class="card-body">
            <div class="table-responsive">
<table class="table table-hover tb">
            <thead>
            <tr>
                <th>Atividade Operacional</th>              
                <th>Status</th> 
                <th>Última atualização</th>
            </tr>
            </thead>
            <tbody>
                 <tr th:each="activity : ${activities}">
                    <td th:text="${activity.name}"></td>
                    <td><i th:if="${activity.status.description}=='Realizada'" class="fa fa-flag" style="color:red"></i>
                        <i th:if="${activity.status.description}=='Em curso'" class="fa fa-flag" style="color:green"></i>
                        <i th:if="${activity.status.description}=='Em planejamento'" class="fa fa-flag" style="color:blue"></i>
                    &nbsp;<span th:text="${activity.status.description}">  </span> 
                    </td>                                    
                    
                        
                    
                                                     
                    <td th:text="${activity.last_update}"></td>   
                    
                    <td>
                        <a sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN','READ_WRITE')" class="btn btn-secondary btn-sm"  th:href="@{/operationalActivityControl/preUpdate/{id}(id=${activity.id})}" >Editar</a>
                        <a sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN','READ_WRITE')" class="btn btn-warning btn-sm"  th:href="@{/operationalActivityControl/editForce/{id}(id=${activity.id})}" >Editar Efetivo</a>
                        <a sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN','READ_WRITE')" class="btn btn-danger btn-sm"  th:href="@{/operationalActivityControl/delete/{id}(id=${activity.id})}" >Excluir</a>                      	
                        <a class="btn btn-info btn-sm" th:href="@{/operationalActivityControl/moreInfo/{id}(id=${activity.id})}">+Info</a>    
                    </td>
                </tr>
            </tbody>
        </table>
            </div>
          </div> 
        </div>
            
    </div>        

       
</html>
