<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container" th:fragment="corpo">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a style="color: #3c7982;"><strong th:text="${user.id == null} ? #{title.save.user} : #{title.update.user}">Cadastro de novo usuário</strong></a> </li> 
            &nbsp;<a href="" data-target="#modal-basico" data-toggle="modal"> <i style="vertical-align:middle" class="fa fa-fw fa-info-circle"></i></a>
        </ol>
<div class="modal fade" id="modal-basico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-fw fa-info-circle" style="color:blue"></i>  Info</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span> </button> </div>
          <div class="modal-body"> 
              Formulário de cadastro para inclusão de novo usuário no sistema. A senha inicial é o número de identidade do militar. É recomendado que, após o cadastro de usuário, o militar altere a senha no primeiro uso.
          </div>
<!--            <div class="modal-footer"> <button class="btn btn-secondary" type="button"
                data-dismiss="modal">Fechar</button>             
            </div>-->
      </div>
   </div>
</div>  
        <!-- Button trigger modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Recuperar cadastro</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span> </button> 
                    </div>
                    <hr>
                    <form th:action="@{/userControl/fullRegisterUser}" method="post" th:object="${military}" class="navbar-form navbar-right">
                        <div class="modal-body"> 
                            <div class="form-group">
                                <label th:for="identity">Identidade Militar: </label>
                                <input type="text" class="form-control" id="identity" th:field="*{military_identitiy}"/>
                                <span th:if="${#fields.hasErrors('military_identitiy')}" th:errors="*{military_identitiy}" class="label label-danger"></span>             
                            </div>  
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger">Pesquisar</button>
                            </div>  
                            <small><i><i class="fa fa-info-circle"></i> Para recuperar o cadastro, entre com o número de identidade militar.</i></small>
                        </div>  
                    </form> 
                </div>
            </div>
        </div>
        <hr>
        <h5>Dados Pessoais do Militar</h5><div th:if="${formStatus}!='updating'">    <small><i>(Faça a recuperação de dados, caso o novo usuário já tenha sido cadastrado como militar no sistema.)</i></small><br><br>    
        <button th:if="${formStatus}!='updating'" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal2">Recuperar </button>    </div>
        <br> 
        <div th:if="!${#strings.isEmpty(message)}" class="row">
        <div th:class="${#strings.isEmpty(message)} ? 'panel panel-default' : 'panel panel-success'">
            <div class="alert alert-danger">
                <i class="fa fa-info-circle">&nbsp;</i><span th:text="' '+${#strings.isEmpty(message)} ? ' ' : ${message}"> </span>
            </div></div>
        </div>   
        <hr>                  
        <div>
        <form th:action="${user.id == null} ? @{/userControl/save} : @{/userControl/update}"  th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input th:if="${formStatus}=='updating'" type="hidden" th:field="*{password}" />
        <input type="hidden" th:field="*{military.isUser}" />
        <input type="hidden" th:field="*{military.id}" />
        <input type="hidden" th:field="*{military.address.id}" />
            <div class="row">
                <div class="col">
                    <div class="form-group">  
                        <label th:for="name">Nome: </label>
                        <input required type="text" class="form-control" id="name" th:field="*{military.name}"/>
                        <span th:if="${#fields.hasErrors('military.name')}" th:errors="*{military.name}" class="label label-danger"></span>             
                    </div> </div>
                <div class="col">    
                    <div class="form-group">
                        <label th:for="surname">Sobrenome: </label>
                        <input required type="text" class="form-control" id="surname" th:field="*{military.surname}"/>
                        <span th:if="${#fields.hasErrors('military.surname')}" th:errors="*{military.surname}" class="label label-danger"></span>             
                    </div> </div>
                <div class="col">
                    <div class="form-group">
                        <label th:for="birth">Data de Nascimento: </label>
                        <input type="date" class="form-control" id="birth" th:field="*{military.birth}"/>
                        <span th:if="${#fields.hasErrors('military.birth')}" th:errors="*{military.birth}" class="label label-danger"></span>             
                    </div>  </div>
            </div>

            <div class="row"> 
                <div class="col">
                    <div class="form-group">
                        <label th:for="midentity">Identidade Militar: </label>
                        <input required type="text" class="form-control" id="midentity" th:field="*{military.military_identitiy}"/>
                        <input th:if="${formStatus}=='updating'" type="hidden" class="form-control" id="midentity" th:field="*{password}"/>
                        <span th:if="${#fields.hasErrors('military.military_identitiy')}" th:errors="*{military.military_identitiy}" class="label label-danger"></span>             
                    </div> </div>
                <div class="col">
                    <div class="form-group">
                        <label th:for="nameg">Nome de Guerra: </label>
                        <input required type="text" class="form-control" id="nameg" th:field="*{military.war_name}"/>
                        <span th:if="${#fields.hasErrors('military.war_name')}" th:errors="*{military.war_name}" class="label label-danger"></span>             
                    </div> </div>
                <div class="col">    
                    <div class="form-group">
                        <label th:for="postgrad">Graduação/Posto: </label>
                        <select required th:field="*{military.post}"  id="postgrad" class="custom-select" >
                            <option value=""></option>
                            <option th:each="postgrad : ${postgrads}" th:value="${postgrad}" th:text="${postgrad.description}"></option>

                        </select>      
                    </div>    </div> 
            </div><div class="row"> 

                <div class="col">
                    <div class="form-group">
                        <label th:for="sexo">Segmento: </label>
                        <select th:field="*{military.gender}" id="sexo" class="custom-select" >
                            <option value=""></option>
                            <option th:each="sexo : ${sexos}" th:value="${sexo}" th:text="${sexo.descricao}"></option>
                        </select>                
                    </div>        </div>   
                <div class="col">
                    <div class="form-group">
                        <div class="form-group">
                            <label th:for="currentMUss">Unidade Militar Atual: </label>
                            <select required th:field="*{military.militaryUnit.id}" class="custom-select" id="militaryUnity" name="educationDate[]">
                                <option value=""></option>
                                <option th:each="currentMUss : ${units}" th:value="${currentMUss.id}" th:text="${currentMUss.MU_name}"></option>       
                            </select>
                        </div></div>
                </div>
            </div>

        <div class="row"> 
            <div class="col">
                <div class="form-group">
                    <label th:for="email">Email: </label>
                    <input type="email" class="form-control" id="email" th:field="*{military.email}"/>
                    <span th:if="${#fields.hasErrors('military.email')}" th:errors="*{military.email}" class="label label-danger"></span>             
                </div>  </div>
            <div class="col">
                <div class="form-group">
                    <label th:for="phone1">Telefone: </label>
                    <input type="tel" class="form-control" id="phone1" th:field="*{military.phone1}"/>
                    <span th:if="${#fields.hasErrors('military.phone1')}" th:errors="*{military.phone1}" class="label label-danger"></span>             
                </div>  </div>
            <div class="col">
                <div class="form-group">
                    <label th:for="phone2">Telefone 2: </label>
                    <input type="tel" class="form-control" id="phone2" th:field="*{military.phone2}"/>
                    <span th:if="${#fields.hasErrors('military.phone2')}" th:errors="*{military.phone2}" class="label label-danger"></span>             
                </div> </div>
        </div> 
        <hr>
            <h5>Endereço</h5><br>
                <div class="row"> 
                    <div class="col">
                        <div class="form-group">
                            <label th:for="street">Rua: </label>
                            <input type="text" class="form-control" id="street" th:field="*{military.address.street}"/>
                            <span th:if="${#fields.hasErrors('military.address.street')}" th:errors="*{military.address.street}" class="label label-danger"></span>             
                        </div>  </div>
                    <div class="col-1">
                        <div class="form-group">
                            <label th:for="number">Nro: </label>
                            <input type="text" class="form-control" id="number" th:field="*{military.address.number}"/>
                            <span th:if="${#fields.hasErrors('military.address.number')}" th:errors="*{military.address.number}" class="label label-danger"></span>             
                        </div>  </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label th:for="midentity">Bairro: </label>
                            <input type="text" class="form-control" id="neighborhood" th:field="*{military.address.neighborhood}"/>
                            <span th:if="${#fields.hasErrors('military.address.neighborhood')}" th:errors="*{military.address.neighborhood}" class="label label-danger"></span>             
                        </div> </div>
                </div> 
                <div class="row"> 
                    <div class="col">
                        <div class="form-group">
                            <label th:for="postal_code">CEP: </label>
                            <input type="text" class="form-control" id="postal_code" th:field="*{military.address.postal_code}"/>
                            <span th:if="${#fields.hasErrors('military.address.postal_code')}" th:errors="*{military.address.postal_code}" class="label label-danger"></span>             
                        </div>  </div>
                    <div class="col">
                        <div class="form-group">
                            <label th:for="county">Município/Estado: </label>
                            <select required th:field="*{military.address.zone.id}" class="custom-select" id="militaryUnity" name="educationDate[]">
                                <option value=""></option>
                                <option th:each="currentZones: ${zones}" th:value="${currentZones.id}" th:text="${currentZones.county_name}+', '+${currentZones.state_name.abbreviation}"></option>       
                            </select>    
                        </div>  </div>
                    <!--                <div class="col">
                                    <div class="form-group">
                                        <label th:for="state">Estado: </label>
                                         <select th:field="*{military.address.zone.state_name}" id="state_name" class="custom-select" >
                                                <option value=""></option>
                                                <option th:each="state : ${zStates}" th:value="${state}" th:text="${state.description}"></option>
                                            </select>
                                    </div> </div>-->
                </div>     
                <hr>    
                    <h5>Dados de Usuário</h5><br>

                        <div class="row">

                            <div class="col">    
                                <label th:for="username">Nome de usuário: </label>
                                <input required type="text" class="form-control" id="login" th:field="*{username}"/>
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="label label-danger"></span>
                            </div>
                            
                            <div th:if="${formStatus}=='updating'" class="col">
                                <label th:for="password">Senha: </label> <!--TODO security: criptografar no envio-->
                                <input required type="password" class="form-control" id="senha" th:field="*{password}"/>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="label label-danger"></span>        
                            </div> 
                               
                            <div class="col">
                                <label th:for="classe">Perfil de acesso: </label>
                                <select required th:field="*{classe}" id="classe" class="form-control" >
                                    <option value=""></option>
                                    <option sec:authorize="hasAuthority('SUPERADMIN')" th:each="classe : ${classesU}" th:value="${classe}" th:text="${classe.descricao}"></option>
                                    <option sec:authorize="hasAuthority('ADMIN')" th:if="${classe.descricao}!='Super administrador'" th:each="classe : ${classesU}" th:value="${classe}" th:text="${classe.descricao}"></option>

                                    <!-- <option th:each="classe: ${classesU}" th:value="${classe}" th:text="${classe.descricao}"></option>-->
                                </select>
                            </div>  
                        </div> <hr>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-sm">Confirmar</button>
                            </div>

                            </form>
                            </div>

                            </div>

                            <!--            <input type="checkbox" id="checkim" data-toggle="modal" data-target="#myModal"/>
                         <label for="checkim">O novo usuário já está cadastrado como militar no sistema.</label>
                         
                         <br/>
                             
                          line modal 
                         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                                 <div class="modal-content">
                                         <div class="modal-header">
                                         <h5 class="modal-title" id="lineModalLabel">Recuperar Informações</h5>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                 
                                         </div>
                                         <div class="modal-body">
                                         Para recuperar as informações já cadastradas do militar, informe o número de identity military do mesmo. 	
                                         <hr>
                                          content goes here 
                                         <form>
                                       <div class="form-group">
                                           <label for="exampleInputEmail1"><strong>Identidade Militar</strong></label>
                                         <input type="text" class="form-control" id="exampleInputEmail1" placeholder="000000000-0">
                                       </div>
                                       
                                       
                                     </form>
                         
                                         </div>
                                         <div class="modal-footer">
                                                 
                                                         <div class="btn-group" role="group">
                                                                 <button type="submit" class="btn btn-default">Recuperar informações</button>
                                                         </div>
                                                         <div class="btn-group" role="group">
                                                                 <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Cancelar</button>
                                                         </div>				
                                                 
                                         </div>
                                 </div>
                           </div>
                         </div>--> 